<!-- <div class="col-md-12 no-gutters"> -->
<app-historical-sentiment [_keywords]="_keywords"></app-historical-sentiment>
<div id="clustrmaps" hidden>

</div>
<!-- </div> -->


<!-- <div class="col-md-6 no-gutters">
    <div class="box box-solid">
        <div class="row no-gutters">
            <app-daily-sentiment [_keywords]="_keywords" class="col-md-12"></app-daily-sentiment>
        </div>
    </div>
</div> -->