<div class=" no-gutters">

    <div class="col-md-12">
        <h4> <i class="fa fa-users icon-green"></i> Cuales han sido las reacciones de los usuarios?</h4>
        <br>
    </div>
    <div class="row">
        <div style="height: 200px" class="col-md-6" id="topics-word-cloud-positive"></div>
        <div class="col-md-6">
            <h4>Topicos</h4>
            <p>Esta seccion muestra los principales temas que despiertan la atencion en los colombianos. <strong>#Topic1</strong> es el topico mas mencionado por usuarios de twitter con un total de 000 usuarios activos. </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4>Topicos</h4>
            <p>Esta seccion muestra los principales temas que despiertan la atencion en los colombianos. <strong>#Topic1</strong> es el topico mas mencionado por usuarios de twitter con un total de 000 usuarios activos. </p>
        </div>
        <div style="height: 200px" class="col-md-6" id="topics-word-cloud-negative"></div>

    </div>

</div>