<h4> <i class="fa fa-cogs icon-green"></i> Analisis individual de los candidatos presidenciales</h4>
<p>Esta seccion te muestra el impacto que ha generado cada uno de los candidatos en las ultimas 24 horas y cual ha sido la evolucion del ese impacto a traves del tiempo. </p>


<div class=" media g-brd-around g-brd-gray-light-v4 g-brd-left-3 g-brd-pink-left rounded g-pa-20 g-mb-10">
    <div class="d-flex g-mt-2 g-mr-15">
        <img class="g-width-40 g-height-40 rounded-circle mCS_img_loaded" src="https://pbs.twimg.com/profile_images/962471262747529216/Uo8lOkRJ_400x400.jpg" alt="Image Description">
    </div>
    <div class="media-body">
        <div class="d-flex justify-content-between">
            <h5 class="h6 g-font-weight-600 g-color-black">Gustavo Petro</h5>
            <span class="small text-nowrap g-color-pink">16 min ago</span>
        </div>
        <p>Perfil Oficial del dirigente político progresista colombiano Gustavo Petro. Por una Colombia Humana con justicia social y en Paz.</p>

        <span class="u-label u-label--sm g-bg-gray-light-v4 g-color-main g-rounded-20 g-px-10">CSS</span>
        <span class="u-label u-label--sm g-bg-gray-light-v4 g-color-main g-color-black g-rounded-20 g-px-10">JavaScript</span>
        <span class="u-label u-label--sm g-bg-gray-light-v4 g-color-main g-rounded-20 g-px-10">Ruby</span>
        <span class="u-label u-label--sm g-bg-gray-light-v4 g-color-main g-rounded-20 g-px-10">ASP.NET</span>

        <hr>

        <div class="row ">
            <div class="col-md-6 g-mb-10">
                <h6 class="g-mb-10">Comentarios positivos <span class="float-right g-ml-10">68%</span></h6>
                <div class="js-hr-progress-bar progress g-bg-black-opacity-0_1 rounded-0 g-mb-5">
                    <div class="js-hr-progress-bar-indicator progress-bar g-bg-cyan u-progress-bar--xs" role="progressbar" style="width: 68%;" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small class="g-font-size-12">11% mas que la semana pasada</small>
            </div>

            <div class="col-md-6 g-mb-10">
                <h6 class="g-mb-10">Comentarios negativos <span class="float-right g-ml-10">12%</span></h6>
                <div class="js-hr-progress-bar progress g-bg-black-opacity-0_1 rounded-0 g-mb-5">
                    <div class="js-hr-progress-bar-indicator progress-bar g-bg-red u-progress-bar--xs" role="progressbar" style="width: 12%;" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small class="g-font-size-12">10% menos que la semana pasada</small>
            </div>

        </div>

        <div class="no-gutters">
            <br>
            <h5> <strong> Evolucion de la percepcion publica en el tiempo </strong></h5>
            <div id="perception-by-time" class="col-md-12"></div>
        </div>

    </div>
</div>