<div class="">
    <span class="badge badge-pill badge-primary b-3d">Primary</span>
    <span class="badge badge-pill badge-secondary b-3d">Secondary</span>
    <span class="badge badge-pill badge-success b-3d">Success</span>
    <span class="badge badge-pill badge-danger b-3d">Danger</span>
    <span class="badge badge-pill badge-warning b-3d">Warning</span>
    <span class="badge badge-pill badge-info b-3d">Info</span>
    <span class="badge badge-pill badge-light b-3d">Light</span>
    <span class="badge badge-pill badge-dark b-3d">Dark</span>
    <!-- <span class="small date-time text-left">{{ date.toString() }}</span> -->
</div>
<hr>