<div class="col-md-12">
    <div class="bg-white d-flex justify-content-start g-brd-around g-brd-gray-light-v1 g-pa-20 g-mb-12">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body">
            <h5 class="card-title">Analysis de polaridad</h5>
            <textarea rows="3">Inserta cualquier texto aqui y obtendras el indice de polaridad</textarea>
            <a href="#" class="btn btn-primary">Obtener Polaridad</a>
        </div>
    </div>
</div>