<div class="card">

    <!-- <a class="twitter-timeline" data-lang="en" data-width="100%" data-height="800" data-theme="light" data-link-color="#981CEB" href="https://twitter.com/notybookcity?ref_src=twsrc%5Etfw"></a> -->
    <!-- <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->

    <!-- <ng4-twitter-timeline></ng4-twitter-timeline> -->


    <div *ngIf="render">
        <h3 class="card-header">Inteligencia Artificial</h3>
        <div class="card-body">
            <h5 class="card-title">Especial #presidenciales</h5>
            <h6 class="card-subtitle text-muted">Colombia 2018</h6>
            <p>{{ spanishDate(_date_now) }}</p>
        </div>
        <img style="height: 200px; width: 100%; display: block;" src="https://pbs.twimg.com/media/DVzedSyVMAAyPKQ.jpg" alt="">
        <div [style.text-align] = '"justify"' class="card-body">
            <p class="card-text">
                Bienvenido a @notybook, un portal especializado en el analisis de datos de actualidad en redes sociales en tiempo real. Usando los ultimos avances en inteligencia artificial, nuestros modelos de procesamiento de lenguaje natural ofrecen una alternativa
                al analisis y compresion de la perception publica.
            </p>
            <p>
                Este portal esta dedicado al analisis de datos de los candidatos presidenciales para el termino 2018-2022 en Colombia.
            </p>

            <p>
                Si deseas saber mas sobre analisis de datos (data analytics), por favor, da click aqui para ponerte en contacto con nuesto nuestros asesores.
            </p>
            <app-contact> </app-contact>

            <h1>Síganos en</h1>
            
                <div class="fb-like" data-href="https://www.facebook.com/notybookcity/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div> 
                <div class="fb-share-button" data-href="http://www.notybook.com/" data-layout="button" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.notybook.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a></div>
                
            
            
        </div>
        <!-- <ul class="list-group list-group-flush">
        </ul> -->
        <!-- <br>
        <div class="card-footer">

        </div> -->

        

    </div>

    <div *ngIf="!render">
        <div class="timeline-wrapper">
            <div class="timeline-item">
                <div class="animated-background">
                    <div class="background-masker header-top"></div>
                    <div class="background-masker header-left"></div>
                    <div class="background-masker header-right"></div>
                    <div class="background-masker header-bottom"></div>
                    <div class="background-masker subheader-left"></div>
                    <div class="background-masker subheader-right"></div>
                    <div class="background-masker subheader-bottom"></div>
                    <div class="background-masker content-top"></div>
                    <div class="background-masker content-first-end"></div>
                    <div class="background-masker content-second-line"></div>
                    <div class="background-masker content-second-end"></div>
                    <div class="background-masker content-third-line"></div>
                    <div class="background-masker content-third-end"></div>
                </div>
            </div>
        </div>
    </div>



</div>