<h1>Contáctanos</h1>
        <p class="lead">¿Tienes una pregunta o necesitas más información?</p>
<!--<form action="http://18.221.42.69:57052/retrieve/keywords" method="get">-->
  <div class="form-row">
    <div class="col-md-12 mb-3">
      <label for="validationServer01">Nombre</label>
      <input #input_name type="text" class="form-control is-valid" id="validationServer01" placeholder="Nombre" value="" required>
      <div class="valid-feedback">
        Ingrese su nombre!
      </div>
    </div>
  </div>
<div class="form-row">
    <div class="col-md-12 mb-3">
      <label for="validationServerUsername">Email</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend3">@</span>
        </div>
        <input #input_email type="text" class="form-control is-invalid" id="validationServerUsername" placeholder="Email" aria-describedby="inputGroupPrepend3" required>
        <div class="invalid-feedback">
          Por favor, ingrese su email.
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-12 mb-3">
      <label for="validationServer03">Mensaje</label>
      <!--<input type="text" class="form-control is-invalid" id="validationServer03" placeholder="Mensaje" required>-->
      <textarea #input_message class="form-control is-invalid" id="exampleFormControlTextarea1" placeholder="Mensaje" required rows="3"></textarea>
      <div class="invalid-feedback">
        Por favor, ingrese su inquietud.
      </div>
    </div>
    
  </div>
  
  <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="send_email_click(input_name.value, input_email.value, input_message.value)">Contáctenos</button>
<p>{{success}}</p>
<!--</form>-->


