<!-- <app-mysentiment></app-mysentiment> -->
<!-- <app-mytags></app-mytags> -->

<a class="twitter-timeline" data-lang="es" data-width="100%" data-height="600" data-theme="light" data-link-color="#981CEB" href="https://twitter.com/notybookcity?ref_src=twsrc%5Etfw"></a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<div *ngIf="render" class="card">

    <ng4-twitter-timeline></ng4-twitter-timeline>

</div>

<div class="col-md-12 no-gutters" *ngIf="!render">
    <div class="timeline-wrapper col-md-12">
        <div class="timeline-item">
            <div class="animated-background">
                <div class="background-masker header-top"></div>
                <div class="background-masker header-left"></div>
                <div class="background-masker header-right"></div>
                <div class="background-masker header-bottom"></div>
                <div class="background-masker subheader-left"></div>
                <div class="background-masker subheader-right"></div>
                <div class="background-masker subheader-bottom"></div>
                <div class="background-masker content-top"></div>
                <div class="background-masker content-first-end"></div>
                <div class="background-masker content-second-line"></div>
                <div class="background-masker content-second-end"></div>
                <div class="background-masker content-third-line"></div>
                <div class="background-masker content-third-end"></div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12" hidden>
    <a href="https://clustrmaps.com/site/1a3ur" title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=bQoFjhvLW2Tph6w7Bqi-ynzJPE542-ymYizGP53-Jh8&cl=ffffff"></a>
</div>
<br>
<div> 
    <a href="https://twitter.com/notybookcity?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @notybookcity</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</div>


