.box-close {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.11);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.sidebar-right-wrapper {
    z-index: 1000;
    padding-right: 10%;
    position: fixed;
    right: 250px;
    width: 30%;
    height: 80%;
    margin-right: -20%;
    /* overflow-y: auto; */
    /* background: #000; */
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-right-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-right-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-right-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-right-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}