<!-- navbar -->
<app-navbar class="fixed-top"></app-navbar>
<br>
<br>


<mat-drawer-container>
    <mat-drawer-content>
        <br>
        <div class="container-fluid">
            <!-- <app-main-topics-panel></app-main-topics-panel> -->
            <!-- <div class=""> -->
            <div class="col-md-12">
                <app-main-panel [_keywords]="tweetService._current_keywords"></app-main-panel>
                <br>
                <!--  -->
                <!-- <app-left-panel class="col-md-4 col-sm-4 col-xs-4"></app-left-panel> -->
                <!--  -->
                <!-- <app-right-panel class="col-md-2 col-sm-2 col-xs-2"></app-right-panel> -->
            </div>
            <!-- </div> -->
            <hr>
            <div class="col-md-12">
                <!-- <h3>Analisis Individual</h3>
                <p class="">
                    Selecciona uno de los candidatos para obtener informacion detallada a cerca de su impacto y percepcion publica.
                </p> -->
                <div class="row">
                    <div class="col-md-12">
                        <app-quick-access [_keywords]="tweetService._current_keywords"></app-quick-access>
                        <br>
                    </div>

                    <!-- <div class="col-md-12">
                        <app-conversation [_keywords]="tweetService._current_keywords"></app-conversation>
                        <br>
                    </div> -->

                </div>
            </div>
        </div>

        <div class="col-md-12">
            <br>
            <mat-card class="example-card">
                <mat-card-content>
                    <div class="fb-comments" data-href="http://www.notybook.com/" data-numposts="5"></div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

<app-footer></app-footer>
