<mat-card class="example-card">
    <mat-card-content>

        <mat-card *ngFor="let keyword of _keywords" class="example-card">
            <mat-card-content>
                {{keyword}}
            </mat-card-content>
        </mat-card>


    </mat-card-content>
</mat-card>