<!-- <div class="col-md-12 no-gutters" *ngIf="!render" hidden>
        <div class="timeline-wrapper col-md-12">
            <div class="timeline-item">
                <div class="animated-background">
                    <div class="background-masker header-top"></div>
                    <div class="background-masker header-left"></div>
                    <div class="background-masker header-right"></div>
                    <div class="background-masker header-bottom"></div>
                    <div class="background-masker subheader-left"></div>
                    <div class="background-masker subheader-right"></div>
                    <div class="background-masker subheader-bottom"></div>
                    <div class="background-masker content-top"></div>
                    <div class="background-masker content-first-end"></div>
                    <div class="background-masker content-second-line"></div>
                    <div class="background-masker content-second-end"></div>
                    <div class="background-masker content-third-line"></div>
                    <div class="background-masker content-third-end"></div>
                </div>
            </div>
        </div>
    </div> -->

<!-- <div class="col-md-12">
        <h1 class="g-font-weight-500"> Presidenciales en Colombia</h1>

    </div> -->

<!-- <br> -->


<!-- <div class="col-md-6 text-right" hidden>
        <strong class="badge badge-pill badge-light" id="_historical_sentiment_chart_zoomStart"></strong>
        <span class="small"></span>
        <strong class="badge badge-pill badge-light" id="_historical_sentiment_chart_zoomEnd"></strong>
    </div> -->

<!-- <mat-grid-list cols="2"> -->
<!-- <mat-grid-tile> -->

<div class="row">
    <div class="col-md-5">
        <mat-card class="example-card">
            <mat-card-content>
                <h3 class="box-title"> Analisis General</h3>
                <p>
                    La siguiente grafica muestra el volumen total de cada candidato para un periodo de 24 horas medido de acuerdo al numero de posts.
                </p>
                <app-summary [_keywords]="_keywords"> </app-summary>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- </mat-grid-tile> -->
    <!-- <mat-grid-tile> -->
    <div class="col-md-7">
        <mat-card class="example-card">
            <mat-card-content>
                <h3 class="box-title"> Evolucion de polaridad en el tiempo</h3>
                <mat-tab-group (selectedTabChange)="render_favorability()">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <!-- <mat-icon>thumb_up</mat-icon> -->
                            Comentarios Positivos
                        </ng-template>
                        <br>
                        <p>La siguiente grafica muestra el volumen de los comentarios positivos en un rango de 24 horas</p>
                        <!-- <div id="_historical_sentiment_chart" class="col-md-12"></div> -->
                        <div id="_historical_positive_volume" class="col-md-12"></div>

                    </mat-tab>
                    <!-- <br> -->
                    <mat-tab label="Favorabilidad">
                        <br>
                        <p>La siguiente grafica muestra la *Favorabilidad neta en un rango de 24 horas</p>
                        <p class="small">*Favorabilidad neta se define como el %positivo - %negativo. Esta metrica describe la que tan positiva/negativa es la percepcion publica de cada candidato.</p>
                        <div id="_historical_negative_volume" class="col-md-12"></div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<!-- </mat-grid-tile> -->
<!-- </mat-grid-list> -->