<div class="row g-mb-25">
    <div class="col-md-1"></div>
    <div *ngFor="let keyword of _keywords" class="col-sm-2">
        <a class="btn btn-primary" role="button" (click)="get_user_info(keyword)">@{{keyword}}</a>
    </div>
</div>

<!-- <mat-card class="example-card"> -->
<div class="row">
    <div class="col-md-6">

        <div class="u-timeline-v1 g-pa-15 g-pa-20--md bg-white">
            <!-- Timeline.Triangle -->
            <div class="u-triangle-inclusive-v1--left g-hidden-md-down g-top-30 g-z-index-2">
                <div class="u-triangle-inclusive-v1--left__front g-brd-white-left"></div>
                <div class="u-triangle-inclusive-v1--left__back g-brd-gray-light-v4-left"></div>
            </div>
            <!-- End Timeline.Triangle -->

            <!-- Timeline. Item. Header -->
            <header class="media g-mb-30">
                <div class="d-flex align-self-center">
                    <div class="media">
                        <a class="d-flex align-self-center g-mr-20" href="#!">
                            <img class="rounded-circle g-width-45 g-width-55--lg g-height-45 g-height-55--lg" [src]="data.status.user.profile_image_url_https" alt="Image Description">
                        </a>

                        <div class="media-body align-self-center">
                            <h3 class="g-font-weight-300 g-font-size-16 g-color-black g-mb-5">{{data.status.user.name}}</h3>
                            <em class="d-block g-font-style-normal g-font-weight-300 g-color-gray-dark-v6">Publicado en <a class="u-link-v5 g-color-secondary g-color-primary--hover" [href]="data.status.id_str">Twitter</a></em>
                        </div>
                    </div>
                </div>

                <div class="media-body d-flex justify-content-end">
                    <div class="g-pos-rel g-z-index-2">
                        <a id="dropDown1Invoker" class="u-link-v5 g-line-height-0 g-font-size-24 g-color-gray-light-v6 g-color-lightblue-v3--hover g-color-lightblue-v3--focus" href="#!" aria-controls="dropDown1" aria-haspopup="true" aria-expanded="false" data-dropdown-event="click"
                            data-dropdown-target="#dropDown1" data-dropdown-type="jquery-slide">
                            <i class="hs-admin-more-alt g-ml-20"></i>
                        </a>
                    </div>
                </div>
            </header>
            <!-- End Timeline. Item. Header -->

            <!-- <img class="img-fluid w-100 g-mb-20" [src]="data.status.user.profile_banner_url" alt="Image Description"> -->

            <h3 class="g-font-weight-300 g-font-size-18 g-color-black g-mb-8">#Trino mas comentado</h3>
            <p class="g-color-gray-dark-v6 g-mb-10">
                {{ data.status.full_text }}
            </p>

            <!-- <a *ngIf="data.status.entities.media" class="d-flex align-items-center u-link-v5 g-color-lightblue-v3 g-color-lightblue-v4--hover" [href]="data.status.entities.media[0].display_url">
                <i class="hs-admin-link g-font-size-16 g-mr-5"></i> {{data.status.entities.media[0].display_url}}
            </a> -->

            <hr class="d-flex g-brd-gray-light-v7 g-my-20">

            <!-- Timeline. Item. Footer -->
            <footer class="d-flex">
                <a class="d-flex align-items-center u-link-v5 g-parent g-color-gray-dark-v6 g-mr-10 g-mr-20--sm" href="#!">
                    <i class="hs-admin-heart g-font-size-16 g-color-gray-light-v6 g-color-lightblue-v4--parent-hover"></i>
                    <span class="g-hidden-lg-down g-font-weight-300 g-color-lightblue-v4--parent-hover g-ml-5">Me Gusta</span>
                </a>
                <a class="d-flex align-items-center u-link-v5 g-parent g-color-gray-dark-v6 g-mr-10 g-mr-20--sm" href="#!">
                    <i class="hs-admin-share g-font-size-16 g-color-gray-light-v6 g-color-lightblue-v4--parent-hover"></i>
                    <span class="g-hidden-lg-down g-font-weight-300 g-color-lightblue-v4--parent-hover g-ml-5">Compartir</span>
                </a>
                <a class="d-flex align-items-center u-link-v5 g-parent g-color-gray-dark-v6 g-mr-10 g-mr-20--sm" href="#!">
                    <i class="hs-admin-comments g-font-size-16 g-color-gray-light-v6 g-color-lightblue-v4--parent-hover"></i>
                    <span class="g-hidden-lg-down g-font-weight-300 g-color-lightblue-v4--parent-hover g-ml-5">Comentar</span>
                </a>
                <!-- <a class="d-flex align-items-center u-link-v5 g-parent g-color-gray-dark-v6 ml-auto" href="#!">
                    <i class="hs-admin-eye g-font-size-16 g-color-gray-light-v6 g-color-lightblue-v4--parent-hover"></i>
                    <span class="g-hidden-lg-down g-font-weight-300 g-color-lightblue-v4--parent-hover g-ml-5">Hide</span>
                </a> -->
            </footer>
            <!-- End Timeline. Item. Footer -->
        </div>
    </div>

    <div class="col-md-6">
        <div [style.height]="'400px'" [style.overflow]="'auto'" class="g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md g-mb-30">
            <div *ngFor="let post of data.comments.slice(1, 30)" class="noty_bar noty_type__error noty_theme__unify--v1--light g-mb-25">
                <div class="noty_body" *ngIf="post.sentiment.positive >= 0.55">
                    <div class="g-mr-20">
                        <div class="noty_body__icon">
                            <i [style.color]='"#8eb7f9"' class="fa fa-thumbs-up"></i>
                        </div>
                    </div>
                    <div>
                        <strong> ({{post.sentiment.positive.toFixed(2)}}) </strong> {{ post._text }}
                    </div>
                </div>
                <div class="noty_body" *ngIf="post.sentiment.positive <= 0.45">
                    <div class="g-mr-20">
                        <div class="noty_body__icon">
                            <i class="fa fa-thumbs-down"></i>
                        </div>
                    </div>
                    <div>
                        <strong> ({{post.sentiment.positive.toFixed(2)}}) </strong> {{ post._text }}
                    </div>
                </div>

                <div class="noty_body" *ngIf="post.sentiment.positive > 0.45 && post.sentiment.positive < 0.55">
                    <div class="g-mr-20">
                        <div class="noty_body__icon">
                            <i [style.color]="black" class="fa fa-arrows-h"></i>
                        </div>
                    </div>
                    <div>
                        <strong> ({{post.sentiment.positive.toFixed(2)}}) </strong> {{ post._text }}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- </mat-card> -->