<hr>
<div class="row no-gutters">
    <div class="col-md-12 no-gutters">
        <h2 class="g-font-weight-600"> Reaccion de usuarios a ultimo comentario de los candidatos en twitter</h2>
        <p>Esta seccion te muestra el volumen de comentarios positivos, negativos, neutrales, y el impacto de el ultimo comentario hecho por cada uno de los candidatos. Esta informacion esta monitoreada en tiempo real y se actualiza automaticamente cada
            30 segundos. Lo que ves en esta seccion es lo que esta sucediendo en este preciso momento</p>
    </div>
    <br>

    <div *ngIf="_render" class="row">
        <ul *ngFor="let profile of profiles" class="no-gutters" style="padding: 0">
            <li class="bg-white d-flex justify-content-start g-brd-around g-brd-gray-light-v1 g-pa-20 g-mb-12">
                <div class="g-mt-2">
                    <img class="g-width-50 g-height-50 rounded-circle mCS_img_loaded" [src]="profile.status[0].data[0].user.profile_image_url" alt="Image Description">
                </div>
                <div class="align-self-center g-px-10">
                    <h5 class="h6 g-font-weight-600 g-color-black g-mb-3">
                        <span class="g-mr-5">{{ profile.status[0].data[0].user.name }} (@{{ profile.status[0].data[0].user.screen_name }}) </span>
                    </h5>
                    <span>
            <strong> Creado: </strong> {{ profile.status[0].data[0].created_at }} </span>
                    <p>
                        <strong>Indice de popularidad:</strong>
                        <strong>{{ (1000*60*(profile.sentiment[0].data[0].n_positive+profile.sentiment[0].data[0].n_negative + profile.sentiment[0].data[0].n_neutral)/(current_time
              - profile.status[0].data[0].timestamp_ms)).toFixed(2) }} </strong> (comentarios/minuto) </p>
                    <!-- <hr> -->
                    <span>
            <strong>Comentario:</strong>
          </span>
                    <p>
                        <span *ngIf="profile.status[0].data[0].extended_tweet; else short_text"> {{ profile.status[0].data[0].extended_tweet.full_text }} </span>
                    </p>
                    <p>
                        <span>
              <ng-template #short_text> {{ profile.status[0].data[0].text }} </ng-template>
            </span>
                    </p>

                    <span>
            <strong>Contexto del comentario:</strong>
          </span>
                    <br>
                    <span>
            <i class="fa fa-smile-o icon-blue"></i> {{ (100*profile.status[0].data[0].sentiment.positive).toFixed(1) }}% positivo</span>
                    <span>
            <i class="fa fa-frown-o icon-red"></i> {{ (100*profile.status[0].data[0].sentiment.negative).toFixed(1) }}% negativo </span>
                    <br>
                    <br>
                    <span>
            <strong>Categorias del comentario:</strong>
          </span>
                    <br>
                    <p>
                        <span *ngFor="let tag of profile.status[0].data[0].tags.prediction" [style.font-weight]=" 200+1000*tag.score " class="g-bg-gray-light-v4 g-color-main g-rounded-20 g-px-10">
              {{ tag.tag }}
            </span>
                    </p>
                    <hr>
                    <span>
            <strong>Reacciones a este comentario: </strong>
          </span>
                    <br>
                    <span>
            <i class="fa fa-smile-o icon-blue"></i> {{ profile.sentiment[0].data[0].n_positive }} comentarios positivos</span>
                    <span>
            <i class="fa fa-frown-o icon-red"></i> {{ profile.sentiment[0].data[0].n_negative }} comentarios negativos </span>
                    <span>
            <i class="fa fa-meh-o icon-black"></i> {{ profile.sentiment[0].data[0].n_neutral }} comentarios neutrales </span>
                    <!-- positive negative panel -->
                    <!-- <div class="js-hr-progress-bar progress g-bg-black-opacity-0_1 rounded-0 g-mb-5"> -->
                    <!-- <div class="js-hr-progress-bar-indicator progress-bar g-bg-red u-progress-bar--xs" role="progressbar" [style.width]="'profile.sentiment[0].data[0].n_positive'" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100"></div> -->
                    <!-- </div> -->
                    <br>
                    <br>
                    <span>
            <strong>Principales topicos encontrados en las respuestas a este comentario: </strong>
          </span>
                    <br>
                    <span *ngFor="let tag of profile.tags[0].data[0]" [style.font-weight]=" 300*tag.score " class="g-bg-gray-light-v4 g-color-main g-rounded-20 g-px-10">
          {{ tag.tag }} </span>

                    <!-- <div class="js-hr-progress-bar progress g-bg-black-opacity-0_1 rounded-0 g-mb-5"> -->
                    <!-- <div class="js-hr-progress-bar-indicator progress-bar g-bg-cyan u-progress-bar--xs" role="progressbar" style="width: 68%" [aria-valuenow]="post[0].data[0].sentiment.positive.toFixed(2)*100" aria-valuemin="0" aria-valuemax="100"></div> -->
                    <!-- </div> -->
                    <!-- <p class="m-0">Percepcion positiva</p> -->
                    <hr>
                    <div class="col-md-12">
                        <div class="row">
                            <div clas="col">
                                <strong>Como calificas este comentario?</strong>
                            </div>
                            <div class="col">
                                <star-rating-comp *ngIf="profile.render" [starType]="'svg'" [rating]="0"></star-rating-comp>
                            </div>

                        </div>
                    </div>
                </div>

            </li>
        </ul>

    </div>

    <hr class="col-md-12">

</div>